<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <input placeholder="email" type="email" value="{{email::input}}"></email>
        <input placeholder="password" type="password" value="{{password::input}}"></email>
        <button on-click="login">Login</button>
        <span hidden$="{{!isLogged}}">Welcome back!</span>

        <iron-ajax 
            id="doLogin"
            url="http://localhost:3000/apitechu/v2/login"
            handle-as="json"
            content-type="application/json"
            method="POST"
            on-response="manageAJAXResponse"
            on-error="showError"
        >
        </iron-ajax>
    </template>

    <script>
/**
* @customElement
 * @polymer
 */
    class LoginUsuario extends Polymer.Element {
        static get is() { return 'login-usuario'; }
        static get properties() {
            return {
                email: {
                    type: String
                },
                password: {
                    type: String
                },
                isLogged: {
                    type: Boolean,
                    value: false
                }
            };
        }

        login () {
            console.log("The user clicked the button!");
            console.log("Sending request...");

            var loginData = {
                "email": this.email,
                "password": this.password
            };

            this.$.doLogin.body = JSON.stringify(loginData);
            this.$.doLogin.generateRequest();
            console.log("Request sent.");

        }

        manageAJAXResponse (data) {
            console.log("Got results!");
            console.log(data.detail.response);

            this.isLogged = data.detail.response.msg == "login correcto" ? true : false;
        }

        showError (error) {
            console.log("Got error!");
            console.log(error);
            this.isLogged = false;

        }

    }

window.customElements.define(LoginUsuario.is, LoginUsuario);
    </script>
</dom-module>
