<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>visor-cuentas: {{id}}</h2>
    <template is="dom-repeat" items="{{accounts}}">
        <div class="row">
            <div class="col">Cuenta [[index]]: {{item.iban}}</div>
            <div class="col">Balance: {{item.balance}}</div>
        </div>
    </template>

    <iron-ajax auto
            id="getAccounts"
            url="http://localhost:3000/apitechu/v2/accounts/{{id}}"
            handle-as="json"
            on-response="showData"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
            id: {
                type: Number
            },
            accounts: {
                type: Array
            }
          };
      }


      showData(data) {
          console.log("Hay respuesta");
          console.log(data.detail.response);
          this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
