<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-estilos">
    <template>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            :host {
                display: block;
                /* all: initial; */
                border: solid blue;
            }

            .redbg {
                background-color: red;
            }

            .greenbg {
                background-color: green;
            }

            .bluebg {
                background-color: blue;
            }

            .greybg {
                background-color: grey;
            }
        </style>

        <h3>Visor estilos</h3>
        <div class="row greybg">
            <div class="col-2 offset-1 col-sm-6 redbg">a </div>
            <div class="col-3 offset-2 col-sm-1 greenbg">b </div>
            <div class="col-4 col-sm-1 bluebg">c </div>
        </div>
        <button class="btn btn-primary btn-lg">Login</button>
        <button class="btn btn-secondary btn-sm">Logout</button>
        <button class="btn btn-success">success</button>
        <button class="btn btn-info">info</button>
        <button class="btn btn-danger">danger</button>
        <button class="btn btn-warning">warning</button>
        <button class="btn btn-light">light</button>
        <button class="btn btn-dark">dark</button>
    </template>

    <script>
/**
* @customElement
 * @polymer
 */
    class VisorEstilos extends Polymer.Element {
        static get is() { return 'visor-estilos'; }
        static get properties() {
            return {
            };
        }

    }

window.customElements.define(VisorEstilos.is, VisorEstilos);
    </script>
</dom-module>
